<!-- Detalles de la Compra -->
<h1>Detalles de la Compra</h1>

<!-- Ticket de Compra -->
<h2>Ticket: {{this.newTicket.code}}</h2>
<p>Fecha de Compra: {{newTicket.purchase_datetime}}</p>
<p>Comprador: {{newTicket.purchaser}}</p>

<!-- Productos Comprados -->
<h2>Productos Comprados:</h2>
<ul>
    {{#each productsToPurchase}}
    <li>{{this.product.name}} - Cantidad: {{this.quantity}}</li>
    {{/each}}
</ul>

<!-- Cantidad Total -->
<h3>Total a Pagar: {{newTicket.amount}}</h3>

<script>
    // Función para completar la compra enviando una solicitud al servidor
function completePurchase() {
    fetch(`/api/carts/${cartId}/purchase`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({}) // Puedes enviar datos adicionales si es necesario
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Error al completar la compra');
        }
    })
    .then(data => {
        // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
        console.log('Compra realizada exitosamente:', data);
        // Puedes redirigir a una página de confirmación de compra o actualizar la vista
    })
    .catch(error => {
        console.error('Error al completar la compra:', error);
        // Manejar errores, mostrar un mensaje de error, etc.
    });
}
</script>